//This file is for create your style with relation on space of header
.header {
  height: 7rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 31.25em) {
    flex-wrap: wrap;
    height: 12rem;
    align-content: space-around;
  }

  .logo {
    height: 3.25rem;
    margin-left: 2rem;
  }

  .search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 31.25em) {
      order: 1;
      flex: 0 0 100%;
    }

    &__input {
      font-family: inherit;
      font-size: inherit;
      border: none;
      background-color: var(--color-grey-light-2);
      padding: 0.7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all 0.2s;
      margin-right: -3.5rem;
      &:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3);
      }

      &::placeholder {
        font-weight: 100;
        color: var(--color-grey-light-4);
      }
    }
    &__button {
      border: none;
      background-color: var(--color-grey-light-2);
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    &__icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-grey-dark-3);
    }
  }

  .user-nav {
    display: flex;
    align-self: stretch;

    &__icon-box {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      position: relative;

      &:hover {
        background-color: var(--color-grey-light-2);
      }
    }
    &__icon {
      width: 2.25rem;
      height: 2.25rem;
      fill: var(--color-grey-dark-2);
    }
    &__notification {
      font-size: 0.8rem;
      height: 1.25rem;
      width: 1.25rem;
      padding: 0.8rem;
      border-radius: 50%;
      background-color: var(--color-primary-light);
      color: white;
      position: absolute;
      top: 1.8rem;
      right: 1.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__icon-box {
      display: flex;
      align-items: center;
    }
    &__user-avatar {
      height: 3.5rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
}
